@import compass/reset

body
  font-family: sans-serif
  //background: image_url('lh.gif')
  font-size: 16px
  line-height: 150%
  
label
  display: block

a:link, a:active, a:visited
  text-decoration: none
  color: #2996F5

a:hover
  color: #2C71AA

h1, h2, h3
  line-height: 150%

h1
  font-size: 32px

h2
  font-size: 24px
  
h3
  font-size: 16px

p, ul
  margin-bottom: 24px

table
  width: 100%
  margin-bottom: 24px

tr
  border-bottom: 1px solid #ddd

.row
  overflow: hidden
  clear: both

.col
  float: left
  
.wide
  width: 606px

.side
  width: 306px
  margin-left: -1px

.grey
  padding: 22px 24px
  background: rgba(200, 200, 200, 0.1)
  border: 1px solid rgba(200, 200, 200, 0.3)

.blue
  padding: 22px 24px
  background: rgba(150, 200, 250, 0.1)
  border: 1px solid rgba(150, 200, 250, 0.3)

.error-notice
  color: darken(red, 10%)
  font-weight: bold

.app
  width: 1102px
  margin: 24px auto
  
.big
  font-weight: bold

.big-num
  font-size: 24px
  font-weight: bold
  padding-right: 16px
  color: #666
  font-family: 'Menlo', 'Monaco', monospace
  text-align: right

.block
  margin-bottom: 48px

.dimmed
  color: #AAA
  font-size: 12px

.button
  border: 1px solid #0a70b1
  background: #0094f2
  box-shadow: inset 0px 0px 0px 1px #2ca3ef
  border-radius: 4px
  line-height: 24px
  padding: 4px 8px
  font-size: 12px
  white-space: nowrap

.button:hover
  background: #22a7f7
  box-shadow: inset 0px 0px 0px 1px lighten(#2ca3ef, 10%)

.button:active
  background: #0094f2
  box-shadow: inset 0px 0px 0px 1px #2ca3ef, inset 0px 0px 5px 0px darken(#2ca3ef, 20%)

a.button
  color: #fff
  text-shadow: 0px 1px 0px #000
  
  &:active
    text-shadow: 0px -1px 0px darken(#0094f2, 20%)