@import compass_twitter_bootstrap

.big-num
  font-family: monospace
  font-weight: bold
  color: black
  
.big
  font-weight: bold
  padding-bottom: 3px

.dimmed
  color: #666
  
html, body
  background-color: #eee

body
  padding-top: 40px

.content
  background-color: #fff
  padding: 20px
  margin: 0 -20px

.content .span10, .content .span4
  min-height: 500px
  
.topbar .fill, .topbar-inner
  background: #c52c2c