body
  font-family: sans-serif

label
  display: block

a:link, a:active, a:visited
  text-decoration: none
  color: #2996F5

a:hover
  color: #2C71AA

.row
  overflow: hidden
  clear: both

.col
  float: left
  
.wide
  width: 70%

.side
  width: 30%

.app
  width: 960px
  margin: 40px auto
  background: #f0f0f0
  
.list
  li
    border-bottom: 1px solid #ddd
    padding: 10px 0px
    
.h-list
  li
    float: left
    list-style: none
    margin: 0px 5px
    
.header
  background-color: #e6e6e6
  border-bottom: 1px solid #e0e0e0
  padding: 30px